<h1>Your Archived lists</h1>

<% @lists.each do |list| %>
  <ul>
    <li>
      Title: <%= list.title %><br>
      Archived status :<%= list.archived %><br>
      <%= link_to "Delete", archive_list_path(list.id), method: :delete %>
    </li>
  </ul>
<% end %>
